extends article_1

block article-view__img
  img.__img(src='static/img/content/articles/siski.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

block article-view__title
  != pages.article_5.title

block article-view__content
  p.
    Наверное, это вопрос, который интересует прекрасную половину человечества больше всего. В этом желании нет ничего стыдного, ведь аппетитные форы – это и правда красиво. Но что делать, если природа не наградила вас упругой, объемной грудью?
    Мы подобрали несколько рецептов, которые могут помочь вам обрести долгожданные формы.
  p.
    Для начала включите в рацион как можно больше белка и меньше вредных жиров. Добавьте в повседневный рацион мед с орехами, последние содержат фитоэстрогены, которые идентичны женскому гормону – эстрогену. Чем этого вещества в вашем организме больше, тем больше будет ваша грудь. Еще один действенный способ – это специальные тренажеры, которые развивают мышцы груди.
  p.
    При этом, ни в коем случае не рисуйте на груди популярные в народной медицине йодовые сетки, не клейте горчичники и не делайте горячие компрессы, все это может спровоцировать опухолевые заболевания.
