extends article_1

block article-view__img
  img.__img(src='static/img/content/articles/0_faa1d_3d8dc431_orig.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

block article-view__title
  != pages.article_2.title

block article-view__content
  p.
    #[strong Менструальная чаша] #[br]
    Силиконовая вещица, готовая удерживать жидкость прямо «там» до 12 часов. Это не новинка, но в нашей стране приспособление еще не слишком популярное. Чаша ставится на весь день, затем промывается и ставится снова. Бывают одноразовые чаши из полиэтилена. Из существенных минусов то, что нужно наверняка знать, что покупаешь качественную чашу, иначе он уже через пару месяцев потеряет упругость и будет пропускать жидкость.
  p.
    #[strong Морская губка] #[br]
    Такой тампон хорошо впитывает жидкость, не протекает, а самое главное, он натуральный. Задумана такая вещь для многоразового использования, а это значит, что ты перестанешь выбрасывать тонны использованных прокладок, которые очень плохо разлагаются. После использования губку надо постирать с натуральным мылом, затем обработать перекисью водорода.
  p.
    #[strong Натуральный тампон] #[br]
    Из хлопка и без химических примесей, он похож на губку, только его не нужно стирать, ведь он одноразовый. Такое средство гигиены практически не продается в аптеках, лучше его заранее заказать в интернете.
  p.
    #[strong Гигиенические трусы] #[br]
    Выглядят будто настоящее белье, а внутри у них прокладка, но она не толще ежедневной. Трусики позволяют избегать протеканий на протяжении 6-8 часов. Стирать их сразу после ношения рекомендуется так: промыть в холодной воде, а затем постирать в стиральной машине.

block page-nav
  .col-xs-4.text-left
    +a(pages.article_1.url).-content.__nav-btn #[span.fa.fa-angle-left]Предыдущая статья
  .col-xs-4.text-center
    span.glyphicon.glyphicon-grid
  .col-xs-4.text-right
    +a(pages.article_3.url).-content.__nav-btn Следующая статья#[span.fa.fa-angle-right]