extends article_1

block article-view__img
  img.__img(src='static/img/content/articles/wsi-imageoptim-bigstock-satisfied-designer-eating-donu-121809527.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

block article-view__title
  != pages.article_4.title

block article-view__content
  p.
    Ученые доказали, что офисные работники набирают вес в полтора раза быстрее других людей, и это не удивительно! Вы замечали, что на работе постоянно что-то перекусываете, а встаете из-за своего рабочего места только для того, чтобы налить чаю. Кроме того, все деловые встречи вы проводите за кофе с печеньем, да и ваш очень дружный коллектив всегда делится между собой вкусностями. А бывает, что под предлогом немного подпитать свой мозг, вы бессовестно съедаете пирожное. Это все про вас? Тогда пришло время заняться собой.
  p.
    Во-первых, нужно понять, что пирожное не поможет вам чувствовать себя бодро, наоборот, для хорошего самочувствия в течение всего рабочего дня нужно правильно завтракать и правильно обедать, так, чтобы после приема пищи вас не тянуло в сон. Поэтому вместо конфет заведите привычку покупать орешки или сухофрукты.
    Еще один совет, организуйте свое рабочее место так, чтобы вы чаще вставали из-за стола. Например, отложите телефон подальше, а ручки и степлеры отдайте секретарю, все рабочие вопросы обсуждайте с коллегами лично, а не в чатах. Вот увидите, даже эти небольшие изменения благоприятно повлияют на ваше самочувствие.

block page-nav
  .col-xs-4.text-left
    +a(pages.article_3.url).-content.__nav-btn #[span.fa.fa-angle-left]Предыдущая статья
  .col-xs-4.text-center
    span.glyphicon.glyphicon-grid
  .col-xs-4.text-right
    +a(pages.article_5.url).-content.__nav-btn Следующая статья#[span.fa.fa-angle-right]
