extends article_1

block article-view__img
  img.__img(src='static/img/content/articles/odinoch2.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

block article-view__title
  != pages.article_3.title

block article-view__content
  p.
    Очередные выходные за просмотром «Секса в большом городе»? Вы не помните, когда последний раз чувствовали волнение перед свиданием? Наверное, пришло время задуматься о причинах вашего одиночества. Во-первых, во многом такое происходит потому, что девушки уверены: мужчина должен делать первый шаг. А когда разговор заходит об инициативе, то милые дамы называют подобные действия «охотой на мужиков», а все активности – пошлыми и вульгарными, недостойными настоящей женщины. Но на самом деле, это просто удобная позиция, в которой женщине ничего не нужно предпринимать и напрягаться.
  p.
    Еще одна причина одиночества скрывается в том, что женщина иногда неосознанно, а чаще всего специально маскируется под закрытую или недоступную. Не трудно догадаться, что редкий смельчак решится подойти к такому экземпляру. Здесь совет один, для начала нужно хотя бы научиться улыбаться прохожим, заглядывая им в глаза, а не прятаться за стеклами темных очков.
  p.
    И самая распространённая причина, а с ней и сложность – поиск идеального мужчины. Предъявляя слишком много требований к вымышленному идеальному партнеру, вы упускаете настоящего человека, который, может быть и недостаточно начитанный, но очень добрый и внимательный. Сколько за такими поисками несуществующего «того самого» было растеряно действительно хороших знакомств? Посчитали?
