include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer

+doctype(pages.moda.title)
  .-wrapper
    +header(false, [pages.moda.url])
    +content
      .__inner
        .container-fluid
          .-content.__view
            span.glyphicon.glyphicon-grid
          .-articles-list
            article.-article-item
              +a().__img-wrap
                img.__img(src='static/img/content/articles/301/article-1.jpg' alt='')
                span.__section Советы
              .__content
                h2.__title
                  +a().__title-link Как стать привлекательнее
                +time().__date июнь 2017
                .__text.
                  Привлекательнее всего люди выглядят в
                  обществе друг друга, это научно-
                  доказанный факт.
            article.-article-item
              +a().__img-wrap
                img.__img(src='static/img/content/articles/301/article-2.jpg' alt='')
                span.__section здоровье
              .__content
                h2.__title
                  +a().__title-link Новые штучки для комфортных месячных
                +time().__date март 2017
                .__text.
                  Силиконовая вещица, готовая удерживать
                  жидкость прямо «там» до 12 часов.
            article.-article-item
              +a().__img-wrap
                img.__img(src='static/img/content/articles/301/article-3.jpg' alt='')
                span.__section Любовь
              .__content
                h2.__title
                  +a().__title-link Причины женского одиночества
                +time().__date май 2017
                .__text.
                  Очередные выходные за просмотром
                  «Секса в большом городе»?
            article.-article-item
              +a().__img-wrap
                img.__img(src='static/img/content/articles/301/article-4.jpg' alt='')
                span.__section здоровье
              .__content
                h2.__title
                  +a().__title-link Офисная работа путь к ожирению
                +time().__date апрель 2017
                .__text.
                  Ученые доказали, что офисные работники
                  набирают вес в полтора раза быстрее.
            article.-article-item
              +a().__img-wrap
                img.__img(src='static/img/content/articles/301/article-5.jpg' alt='')
                span.__section Любовь
              .__content
                h2.__title
                  +a().__title-link Увеличить грудь в домашних условиях
                +time().__date июнь 2017
                .__text.
                  Наверное, это вопрос, который интересует
                  прекрасную половину человечества
    +footer