include ../components/doctype/doctype
include ../components/header/header
include ../components/content/content
include ../components/footer/footer

+doctype(pages.lookbook.title)
  .-wrapper
    +header(false, [pages.lookbook.url])
    +content
      .__inner
        .container-fluid
          .-content.__view
            .glyphicon.glyphicon-grid
          .-gallery
            +a('static/img/content/lookbook/Paule-Ka-Autumn-Winter-2013-2014-Lookbook-4.jpg').__item(data-fancybox='lookbook')
              img.__item-img(src='static/img/content/lookbook/342x342/photo-1.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

            +a('static/img/content/lookbook/aw14-wk52-lookbook-12-V2.jpg').__item(data-fancybox='lookbook')
              img.__item-img(src='static/img/content/lookbook/342x342/photo-2.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

            +a('static/img/content/lookbook/6_1217.jpg').__item(data-fancybox='lookbook')
              img.__item-img(src='static/img/content/lookbook/342x342/photo-3.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

            +a('static/img/content/lookbook/Lookbook-CoreCollection-Web5.jpg').__item(data-fancybox='lookbook')
              img.__item-img(src='static/img/content/lookbook/342x342/photo-4.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

            +a('static/img/content/lookbook/photo-5.jpg').__item(data-fancybox='lookbook')
              img.__item-img(src='static/img/content/lookbook/342x342/photo-5.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

            +a('static/img/content/lookbook/photo-6.jpg').__item(data-fancybox='lookbook')
              img.__item-img(src='static/img/content/lookbook/342x342/photo-6.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

            +a('static/img/content/lookbook/3accb005c9e00b2932a1d56584429cff.jpg').__item(data-fancybox='lookbook')
              img.__item-img(src='static/img/content/lookbook/342x342/photo-7.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

            +a('static/img/content/lookbook/HM-Fall-WInter-2014-2015-Lookbook-5.jpg').__item(data-fancybox='lookbook')
              img.__item-img(src='static/img/content/lookbook/342x342/photo-8.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')

            +a('static/img/content/lookbook/3accb005c9e00b2932a1d56584429cff.jpg').__item(data-fancybox='lookbook')
              img.__item-img(src='static/img/content/lookbook/3accb005c9e00b2932a1d56584429cff.jpg' alt='' data-object-fit='cover' onload='objectFit(this)')
          .-content.__options
            a().btn ещё фото

    +footer