.list
  &_ul
    &_1
      list-style none
      padding 0 0 0 60px
      li
        position relative
        margin-bottom 1.1em
        &:before
          content '\00A0'
          width 27px
          height 23px
          position absolute
          top 0.15em
          left -60px
          background inline-img('marker-1.png') no-repeat 0 0/cover