.social-networks
  text-align center
  font-family 'zero-width'
  margin 0 0 -10px
  &__item
    display inline-block
    vertical-align top
    color inherit
    text-decoration none
    margin 0 20px 10px
    font-size 14px
    line-height 20px
    square 20px
    &.glyphicon-vk
      font-size 13px
    &:hover, &:focus
      color $red-1
      text-decoration none