mixin social-networks()
  // Social-networks
  .-social-networks&attributes(attributes)
    //-+a().__item.fa.fa-youtube(target='_blank' title='YouTube')
    +a().__item.glyphicon.glyphicon-vk(target='_blank' title='VK')
    +a().__item.glyphicon.glyphicon-facebook(target='_blank' title='Facebook')
    //-+a().__item.fa.fa-twitter(target='_blank' title='Twitter')
    +a().__item.glyphicon.glyphicon-instagram(target='_blank' title='Instagram')
    //-+a().__item.fa.fa-pinterest(target='_blank' title='Pinterest')
    //-+a('mailto:info@info.info').__item.fa.fa-envelope(target='_blank' title='info@info.info')
  // /Social-networks