-
  var voidHref = 'javascript:;';

  var pages = {
    home: {title: 'List of pages', url: 'home.html'},
    index: {title: 'Главная', url: 'index.html'},
    moda: {title: 'Мода', url: 'blog.html'},
    krasota: {title: 'Красота', url: 'blog.html?krasota'},
    lookbook: {title: 'Lookbook', url: 'lookbook.html'},
    about: {title: 'О проекте', url: 'about.html'},
    article_1: {title: 'Как стать привлекательнее: советы', url: 'article_1.html'},
    article_2: {title: 'Новые штучки для комфортных месячных', url: 'article_2.html'},
    article_3: {title: 'Причины женского одиночества', url: 'article_3.html'},
    article_4: {title: 'Офисная работа путь к ожирению', url: 'article_4.html'},
    article_5: {title: 'Увеличить грудь в домашних условиях', url: 'article_5.html'}
  };

  var modals = {
    //'privacy-policy': {title: 'Политика конфиденциальности', url: 'popups/privacy-policy.html'}
  };